body {
    text-align: center;
    
}

footer, header {
    background-color: lightblue;
    
}

h1 {
    font-family: 'Courier New', Courier, monospace; color:royalblue;
}

table, th, td {
    border: 1px solid;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

caption {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
    background-color: royalblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}